body {
  padding-top: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #2196f3;
}

.maintitle {
  font-size: 28px;
}

.section {
  padding: 50px 0;
  &-dark {
    background-color: #37474f;
    &#codecontainer {
      &, h1, h2, h3 {
        color: #fff;
      }
    }
  }
  &-lite {
    background-color: #eee;
  }
  &-bright {
    background-color: #fff;
  }
  h2 {
    font-size: 20px;
  }
}

form {
  margin-top: 20px;
}

.form-element {
  margin-bottom: 20px;
}

.footer {
  background-color: #121621;
  height: 140px;
  line-height: 50px;
  text-align: center;
  color: #aaa;
}

.hero {
  margin-bottom: 50px;
  color: #fff;
  h1,h2,h3,h4,h5{
    color: #fff;
  }
}

.generate {
  text-align: center;
  margin-top: 50px;
}

#code {
  background-color: #263238;
  padding: 20px;
  font-size: 18px;
  &container {
    display: none;
  }
}

.opt-key, .opt-val, .opt-param-type, .opt-callback {
  margin-top: 3px;
}

.opt-add, .opt-remove {
  margin-top: 10px;
}

.form-element {
  .option-param {
    h4, .opt-param-type {
      display: none;
    }
    .opt-add {
      display: none;
    }
    .btn {
      margin-top: 10px;
    }
  }
  .option-param:nth-child(2) {
    h4, .opt-param-type {
      display: block;
    }
  }
  .option-param:last-child .opt-add {
    display: inline-block;
  }
}

.move-up, .move-down {
  text-align: center;
  line-height: 20px;
  i {
    font-size: 9px;
    margin: 0;
  }
}

.remove {
  line-height: 20px;
  font-size: 11px;
}
